h1 {
  margin-left:25px;
  font-family: 'Times New Roman', Times, serif;
}

button {
  height: 40px;
  width: 100px;
  margin-left:175px
}

input {
  height: 100px;
  width: 400px;
  margin-left:25px
}